name: Build Images

on: [push]

jobs:
  build-spark-legacy:
    name: Build Spark Legacy Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Ensure we can build spark legacy image
      run: docker build -t test:test .
      working-directory: spark_legacy
  build-spark:
    name: Build Spark Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Ensure we can build spark image
      run: docker build -t test:test .
      working-directory: spark
  build-hive:
    name: Build Hive Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Ensure we can build hive metastore
      run: docker build --build-arg METASTORE_VERSION=3.0.0 -t test:test .
      working-directory: hive_metastore
  build-zeppelin:
    name: Build Zeppelin Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Ensure we can build zeppelin
      run: docker build -t test:test .
      working-directory: zeppelin

