name: Publish Images Using Commit Hash

on:
  push:
    branches:
      - master

jobs:
  publish-spark-legacy:
    name: Publish Spark Legacy Image Using Commit Hash
    environment: publication
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: spark_legacy
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
    - name: Build image
      run: docker build -t ferlabcrsj/spark-legacy:$GITHUB_SHA .
    - name: Push image
      run: docker push ferlabcrsj/spark-legacy:$GITHUB_SHA

  publish-spark:
    name: Publish Spark Image Using Commit Hash
    environment: publication
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: spark
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
    - name: Build image
      run: docker build -t ferlabcrsj/spark:$GITHUB_SHA .
    - name: Push image
      run: docker push ferlabcrsj/spark:$GITHUB_SHA