name: Publish Images Using Dependency Version

on:
  push:
    branches:
    - master

jobs:
  publish-spark-legacy:
    name: Publish Spark Legacy Image Using Dependency Version
    environment: publication
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Push image to docker registry
      uses: Ferlab-Ste-Justine/action-push-image@v2
      with:
        username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
        password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
        image: ferlabcrsj/spark-legacy
        tag_format: 3.5.5
        location: spark_legacy

  publish-spark:
    name: Publish Spark Image Using Dependency Version
    environment: publication
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Push image to docker registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/spark
          tag_format: 3.5.5
          location: spark

  publish-hive:
    name: Publish Hive Image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Push image to docker registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/hive-metastore
          tag_format: 1.0.0
          location: hive_metastore

  publish-zeppelin:
    name: Publish Zeppelin Image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Push image to docker registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/zeppelin
          tag_format: 0.9.0
