name: Publish Images Using Commit Hash

on:
  push:
    branches:
      - master

jobs:
  publish-spark-legacy:
    name: Publish Spark Legacy Image Using Commit Hash
    environment: publication
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Push image to docker registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/spark-legacy
          tag_format: "{sha}"
          location: spark_legacy

  publish-spark:
    name: Publish Spark Image Using Commit Hash
    environment: publication
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Push image to docker registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/spark
          tag_format: "{sha}"
          location: spark