name: Publish Images Using Dependency Version

on:
  push:
    branches:
    - master

jobs:
  publish-spark-custom:
    name: Publish Spark Custom Image Using Dependency Version
    environment: publication
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: spark_custom
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
    - name: Build image
      run: docker build -t ferlabcrsj/spark-custom:3.5.5 .
    - name: Publish image
      run: docker push ferlabcrsj/spark-custom:3.5.5

  publish-spark-minimal:
    name: Publish Spark Minimal Image Using Dependency Version
    environment: publication
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: spark_minimal
    steps:
      - uses: actions/checkout@v2
      - name: Log into registry
        run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
      - name: Build image
        run: docker build -t ferlabcrsj/spark-minimal:3.5.5 .
      - name: Push image
        run: docker push ferlabcrsj/spark-minimal:3.5.5

  publish-hive:
    name: Publish Hive Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
    - name: Build Hive Metastore
      run: docker build --build-arg METASTORE_VERSION=3.0.0 -t ferlabcrsj/hive-metastore:1.0.0 .
      working-directory: hive_metastore
    - name: Publish Hive Metastore
      run: docker push ferlabcrsj/hive-metastore:1.0.0
      working-directory: hive_metastore

  publish-zeppelin:
    name: Publish Zeppelin Image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      run: echo "${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.FERLAB_DOCKER_HUB_USER }} --password-stdin
    - name: Build Zeppelin
      run: docker build -t ferlabcrsj/zeppelin:0.9.0 .
      working-directory: zeppelin
    - name: Publish Zeppelin
      run: docker push ferlabcrsj/zeppelin:0.9.0
      working-directory: zeppelin
